<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支出列表</title>
</head>
<body>
<table>
    <tr>
        <td>编号</td>
        <td>用户id</td>
        <td>金额</td>
        <td>时间</td>
        <td>备注</td>
        <td>操作</td>
    </tr>
    <tr th:each="Year:${allYear}">
        <td th:text="${Year.id}"></td>
        <td th:text="${Year.user_id}"></td>
        <td th:text="${Year.getYear_number()}"></td>
        <td th:text="${#dates.format(Year.year_date, 'yyyy-MM-dd hh:mm')}"></td>
        <td th:text="${Year.year_type}"></td>
        <td>
            <form method="post" action="/deleteYear">
                <input name="id" type="hidden" th:attr="value=${Year.id}">
                <button type="submit">删除</button>
            </form>
            <form method="post" action="/selectYear">
                <input name="id" type="hidden" th:attr="value=${Year.id}">
                <button type="submit">修改</button>
            </form>
        </td>
    </tr>
</table>

<a href="/controllerIndex"><button type="button">返回首页</button></a>
</body>
</html>