<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body style="TEXT-ALIGN:center">
<span th:text="${msg}" style="color:red"></span>
<table border="1" cellpadding="3" cellspacing="0" style="width: 60%;margin:auto">
    <tr>
        <td>用户id</td>
        <td>账户名</td>
        <td>用户昵称</td>
        <td>用户生日</td>
        <td>用户邮箱</td>
        <td>操作</td>
    </tr>
    <tr th:each="allUser:${allUser}">
        <td th:text="${allUser.id}"></td>
        <td th:text="${allUser.user_name}"></td>
        <td th:text="${allUser.name}"></td>
        <td th:text="${allUser.gender}"></td>
        <td th:text="${#dates.format(allUser.birthday, 'yyyy-MM-dd hh:mm')}"></td>
        <td th:text="${allUser.contact}"></td>
        <td th:text="${allUser.e_mail}"></td>
        <td>
            <form method="post" action="/deleteUser">
                <input name="id" type="hidden" th:attr="value=${allUser.id}">
                <button type="submit">删除</button>
            </form>
            <form method="post" action="/updateUserPassword">
                <input name="id" type="hidden" th:attr="value=${allUser.id}">
                <button type="submit">还原密码</button>
            </form>
        </td>
    </tr>
</table>

<a href="/controllerIndex"><button type="button">返回首页</button></a>
</body>
</html>