<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body style="TEXT-ALIGN:center">
<span th:text="${msg}" style="color:red"></span>
<form method="post" action="/updataPassword">
    <input required="required" type="password" name="oldPassword" placeholder="旧密码"><br>
    <input required="required" type="password" name="newPassword1" placeholder="新密码"><br>
    <input required="required" type="password" name="newPassword2" placeholder="再次输入新密码"><br>
    <input required="required" type="submit" value="确定">
    <a href="/index.html">
        <button type="button">返回</button>
    </a>
</form>
</body>
</html>