<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改记录</title>
</head>
<body>
<form action="/updateYear" method="post">
    <input name="id" type="hidden" th:attr="value=${year.getId()}" required="required">
    <input name="user_id" type="text" th:attr="value=${year.getUser_id()}" required="required"><br>
    <input name="year_type" type="text" th:attr="value=${year.getYear_type()}" required="required"><br>
    <input name="year_number" type="text" th:attr="value=${year.getYear_number()}" required="required"><br>
    <input name="date" type="text" required="required" th:attr="value=${#dates.format(year.getYear_date(), 'yyyy-MM-dd hh:mm')}"><br>
    <input value="确定" type="submit">
</form>
</body>
</html>