<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
</head>
<body style="TEXT-ALIGN:center">

<form action="/updateMessage" method="post">
    <input name="user_name" required="required" type="text" th:attr="value=${user.getUser_name()}" placeholder="用户名"><br>
    <input name="name" required="required" type="text" th:attr="value=${user.getName()}" placeholder="昵称"><br>
    <input name="gender" required="required" type="text" th:attr="value=${user.getGender()}" placeholder="性别"><br>
    <input name="UserBirthday" required="required" type="text" placeholder="生日" th:attr="value=${#dates.format(user.getBirthday(), 'yyyy-MM-dd hh:mm')}"><br>
    <input name="contact" required="required" type="text" th:attr="value=${user.getContact()}" placeholder="联系电话"><br>
    <input name="e_mail" required="required" type="text" th:attr="value=${user.getE_mail()}" placeholder="Email"><br>
    <input value="确定" type="submit">
    <a href="/index.html">
    <button type="button">返回</button>
</a>
</form>

</body>
</html>